/* button landing page */
.button {
 -fx-color: #fff;
 -fx-cursor: pointer;
 -fx-font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
 -fx-font-size: 19px;
 -fx-height: 44px;
 -fx-line-height: 1.15;
 -fx-text-align: center;
}


.button-9 {
 -fx-text-fill: white;
 -fx-appearance: button;
 -fx-backface-visibility: hidden;
 -fx-background-color: #405cf5;
 -fx-border-radius: 6px;
 -fx-box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
 -fx-box-sizing: border-box;
 -fx-margin: 12px 0 0;
 -fx-overflow: hidden;
 -fx-padding: 0 25px;
 -fx-position: relative;
 -fx-text-transform: none;
 -fx-transition: all .2s,box-shadow .08s ease-in;
 -fx-touch-action: manipulation;
 -fx-width: 100%;
}

.button-9:disabled {
    -fx-cursor: default;
}

.button-9:active {
    -fx-box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* landing page css */
.anchor_page {
 -fx-border-color: blue;
 -fx-border-width: 3px;
 -fx-border-radius: 1px;
 -fx-background-color: #CCFFFF;
}